@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#677d9f;
    font: normal 15pt arial;
    height: 100vh;
}
header{
    padding: 5px;
    margin: 10px 0px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.329);

}
section{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 370px;
    height: 370px;
    margin: auto;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.445);
    
}
div{
    text-align: center;
    padding: 5px;
    
}

   

footer{
    padding: 5px;
    margin: 10px 0px;
    text-align: center;
    font-style: italic;

}